#galeria{
    margin: 15px;
}

p{
    font-family: cursive;
}

span{
    font-size: 26px;
}

#galeria img{
    width: 100%;
    height: auto;
}

#galeria .col-lg-3{
    padding: 15px;
}

#galeria img:hover{
    border: 5px #fff solid;
}

#pie{
    width: 100%;
    text-align: center;
}